*{
    margin: 0;
    padding: 0;
}
#particles-js

{
   
    height: 100%;
    background-size: auto;
    background-position: center;
}

body
{    background-image: linear-gradient(to bottom right, red, yellow),url(4.jpg);
    background-size: auto;
    background-position: center;
}
    

.menu
{ 
    float: right;
    list-style: none; 
    margin-top: 30px;
}

.menu li
{
    
    display: inline-flex;
    background-color: #f1f1f1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.menu a
{
    text-decoration: none;
    padding: 3px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #000;
   
}

.active:hover
{
    
    background-color: #555;
    color: white;
}

.logo img
{
    width: 150px;
    height: auto;
    float: left;
}

body
{
    font-family: monospace;
}

.row
{
    max-width: 1200px;
    margin: auto;
}

.mid
{
    position: absolute;
    width: 1200px;
    margin-left: 150px;
    margin-top: 0;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}

.button
{
    margin-top: 30px;
    margin-left: 440px;
}

.btn
{
    border: 1px solid white;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    margin-right: 8px;
    font-size: 15px;
    text-transform: uppercase;
}

.btn-one
{
    font-family: "Josefin Sans" sans-serif;
    
}

.btn-two
{
    font-family: "Roboto" sans-serif;
}

.btn-one:hover
{
    background-color: deeppink;
    transition: all 0.2s ease-in;
}

.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.2s ease-in;
}





















